<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym WebSite</title>
</head>
<body class="l">
    <nav class="navbar">
        
        <a href="#" class="navbar__logo">Logo</a>
        
        <!-- Navigation Links -->
        <ul class="navbar__links">
            <li><a href="" class="navbar__link">Home</a></li>
            <li><a href="/aboutus" class="navbar__link">About</a></li>
            <li><a href="/ourclasses" class="navbar__link">Classes</a></li>
            <li><a href="/contactus" class="navbar__link">Contact</a></li>
            <li>
                <!-- Join Us button -->
                 <a href="/members" class="join-us-btn">Join Us</a>

            </li>
        </ul>    
    </nav>


    <div class="about-us-container">
        <div class="image-container">
            <img src="/assets/images/R.jpg" alt="About Us Image">
        </div>
        <div class="text-container">
            <h2 class="m">About Us</h2>
            <p>Introduction:
                “Welcome to our Gym! We’re more than just a fitness center; we’re a community dedicated to transforming lives. Here’s a glimpse into our story.”
               <br>
               Our Journey:
                “Founded in 2024, our Gym emerged from a passion for health, wellness, and personal growth. Our mission? To empower every individual who walks through our doors.”
               <br>
               Our Values:
                “At our Gym , we believe in hard work, perseverance, and camaraderie. Our trainers are not just coaches; they’re mentors, motivators, and friends.”
               <br>
               Client-Centric Approach: “
               Your goals are our goals. Whether you’re a beginner or a seasoned athlete, we tailor our programs to fit your unique needs.”
               </p>
           
        </div>
    </div>

       <div class="n">
        <h3 class="m">Why Choose Us</h3>
        <p class="a">Expertise: “Experience matters. Our certified trainers bring years of expertise to the table. From strength training to yoga, we’ve got you covered.”
            <br>
            State-of-the-Art Facilities: “Step into a world of cutting-edge equipment, pristine spaces, and an ambiance that fuels your workout.”
            <br>
            Personalized Attention: “We’re not a one-size-fits-all gym. Our personalized training sessions ensure you get the attention you deserve.”
            
            Flexible Membership Plans: “Affordable plans, flexible schedules. Choose what works for you, and let’s embark on this fitness adventure together.”</p>
       </div>
      
    <footer>
        <div class="footer-contact">
            <h3>GET IN TOUCH</h3>
            <p>123 Street, NABEUL, TUNISIA</p>
            <p>gymmail.com</p>
            <p>+012 345 67890</p>
        </div>
        <div class="footer-links">
            <h3>QUICK LINKS</h3>
            <ul>
                <li><a href="/aboutus">ABOUT US</a></li>
                <li><a href="/ourclasses">CLASS SCHEDULE</a></li>
                <li><a href="/contactus">CONTACT US</a></li>
            </ul>
        </div>
        <div>
            <img src="/assets/images/R.jpg" class="o">

        </div>
    </footer>
    
    
</body>
</html>


