
<body class="l">

<div class="container">
  <div class="sidebar">
    <div class="profile">
      <i class="fas fa-user-circle fa-3x profile-icon"></i> 
      <h2>Administrator Name</h2>
      <p>administaratorgmail.com</p>
    </div>
    <nav>
      <ul>
        <li><a href="/admindashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/adminprofile"><i class="fas fa-user"></i> Admin Profile</a></li>
        <li><a href="/memberlist"><i class="fas fa-users"></i> Members</a></li>
        <li><a href="/coacheslist"><i class="fas fa-users"></i> Coaches</a></li>
        <li><a href="/equipmentlist"><i class="fas fa-cube"></i> Inventory</a></li>
        <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </nav>
  </div>
  
  <div class="welcome">
    <h1>Administrator Information </h1>
    <h3><i class="fas fa-user-circle fa-3x admin"></i></h3>
    <form>
        
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>
        
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="contact_number">Contact Number:</label>
        <input type="tel" id="contact_number" name="contact_number" required>
        
        <button type="submit">Save</button>
    </form>
</div>

  
 
</div>
</body>
