.navbar {
    background-color: #292828;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the logo */
.navbar__logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

/* Style for the navigation links */
.navbar__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar__link {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}
.forms-container {
    display: flex;
    justify-content: space-around;
    background-image: url('/assets/images/R.jpg');
    padding: 50px;
  }
  
  .registration-form {
    background-color: #292828;
    padding: 20px;
    max-width: 400px;
  }
  
  .registration-form h3 {
    color: darkgreen;
    font-size: 24px;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 10px;
    color: white;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="number"],
  .registration-form select {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .registration-form select {
    appearance: none; /* Remove default select arrow */
    background-color: black; /* Set select background color to black */
  }
  
  .registration-form button[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registration-form button[type="submit"]:hover {
    background-color: darkgreen;
  }
  
  .login-form {
    background-color: #292828;
    padding: 20px;
    max-width: 400px;
    height: 300px; /* Minimize the height of the login form */
  }
  
  .login-form h3 {
    color: darkgreen;
    font-size: 24px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
    color: white;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .login-form button[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button[type="submit"]:hover {
    background-color: darkgreen;
  }
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  
  footer {
    background-color: #292828;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: flex-start; /* Align items to the top */
    margin-top: 120px;
}

.footer-contact, .footer-links {
    flex: 1;
    margin-bottom: 20px;
    margin-left: 70px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}
.o{
    width: 450px;
    height: 250px;
}
.footer-contact  h3{
    color: #0B851E;
}
.footer-links h3{
    color: #0B851E;
}