
<body class="l">

<div class="container">
  <div class="sidebar">
    <div class="profile">
      <i class="fas fa-user-circle fa-3x profile-icon"></i> 
      <h2>Administrator Name</h2>
      <p>administaratorgmail.com</p>
    </div>
    <nav>
      <ul>
        <li><a href="/admindashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/adminprofile"><i class="fas fa-user"></i> Admin Profile</a></li>
        <li><a href="/memberlist"><i class="fas fa-users"></i> Members</a></li>
        <li><a href="/coacheslist"><i class="fas fa-users"></i> Coaches</a></li>
        <li><a href="/equipments"><i class="fas fa-cube"></i> Inventory</a></li>
        <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </nav>
  </div>

  <div class="welcome">
    <h3>Welcome<br>Administrator name</h3>
    <h3><i class="fas fa-user-circle fa-3x"></i></h3>
  </div>
  
 
</div>

<div class="p">
  <div class="p1">40 member<br>5 coaches <br> 60 equipment</div>
  <div class="p2"><img src="/assets/images/cal.jpg" class="p3"></div>
</div>



<div class="q">
  <table>
    <thead>
      <tr>
        <th>Sender</th>
        <th>Message</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>member 1</td>
        <td>send you a message</td>
        <td>3/3/24-15:00</td>
      </tr>
      <tr>
        <td>coach 3</td>
        <td>send you a message</td>
        <td>1/3/24-12:00</td>
      </tr>
      <tr>
        <td>member 3</td>
        <td>send you a message</td>
        <td>3/3/24-15:00</td>
      </tr>
    </tbody>
  </table>
  
</div>
</body>

