<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym WebSite</title>
</head>
<body class="l">
    <nav class="navbar">
        
        <a href="#" class="navbar__logo">Logo</a>
        
        <!-- Navigation Links -->
        <ul class="navbar__links">
            <li><a href="" class="navbar__link">Home</a></li>
            <li><a href="/aboutus" class="navbar__link">About</a></li>
            <li><a href="/ourclasses" class="navbar__link">Classes</a></li>
            <li><a href="/contactus" class="navbar__link">Contact</a></li>
            <li>
                <!-- Join Us button -->
                 <a href="/members" class="join-us-btn">Join Us</a>

            </li>
        </ul>    
    </nav>


    <h1 class="c">Our Classes</h1>

    <section class="classes-section">
        <div class="class-box">
            <h2>Bodybuilding</h2>
            <p>Bodybuilding is the practice of progressive resistance exercise to build, control, and develop one’s muscles via hypertrophy.</p>
        </div>
        <div class="class-box">
            <h2>Weightlifting</h2>
            <p>Weightlifting involves lifting barbells competitively or as an exercise. It aims to build strength, endurance, and flexibility.</p>
        </div>
        <div class="class-box">
            <h2>Yoga</h2>
            <p>Yoga, derived from the Sanskrit word “yoke” or “union,” aims to unite the body, mind, soul, and universal consciousness. It combines physical, mental, and spiritual practices.</p>
        </div>
        <div class="class-box">
            <h2>Bodybuilding</h2>
            <p>Bodybuilding is the practice of progressive resistance exercise to build, control, and develop one’s muscles via hypertrophy.</p>
        </div>
        <div class="class-box">
            <h2>Weightlifting</h2>
            <p>Weightlifting involves lifting barbells competitively or as an exercise. It aims to build strength, endurance, and flexibility.</p>
        </div>
        <div class="class-box">
            <h2>Yoga</h2>
            <p>Yoga, derived from the Sanskrit word “yoke” or “union,” aims to unite the body, mind, soul, and universal consciousness. It combines physical, mental, and spiritual practices.</p>
        </div>
    </section>
    <div>
        <h1 class="c">OUR TRAINING SCHEDULE</h1>
    </div>
    
    <table class="schedule-table" border="1">
        <thead>
            <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>THURSDAY</th>
                <th>FRIDAY</th>
                <th>SATURDAY</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8.00AM - 10.00AM</td>
                <td>POWER LIFTING</td><td>WEIGHT LOOSE</td><td>FITNESS PROGRAM</td><td>CARDIO PROGRAM</td><td>YOGA CLASS</td><td>CROSSFIT CLASS</td>
            </tr>
            <tr>
                <td>10.00AM - 12.00PM</td>
                <td>BODY BUILDING</td><td>YOGA CLASS</td><td>YOGA CLASS</td><td>POWER LIFTING</td><td>CARDIO PROGRAM</td><td>YOGA CLASS</td>
            </tr>
            <tr>
                <td>12.00PM - 13.00PM</td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>    
                <td>13.00PM - 15.00PM</td>   
                <td>CARDIO PROGRAM</td><td>MUSCLE BUILDING</td><td>MUSCLE BUILDING</td><td>WEIGHT LOOSE</td><td>CROSSFIT CLASS</td><td>WEIGHT LOOSE</td>
            </tr>

            <tr>
                <td>15.00PM - 17.00PM</td>
                <td>CARDIO PROGRAM</td><td>MUSCLE BUILDING</td><td>MUSCLE BUILDING</td><td>WEIGHT LOOSE</td><td>CROSSFIT CLASS</td><td>WEIGHT LOOSE</td>
            </tr>
           
        </tbody>
    </table>

    <footer>
        <div class="footer-contact">
            <h3>GET IN TOUCH</h3>
            <p>123 Street, NABEUL, TUNISIA</p>
            <p>gymmail.com</p>
            <p>+012 345 67890</p>
        </div>
        <div class="footer-links">
            <h3>QUICK LINKS</h3>
            <ul>
                <li><a href="/aboutus">ABOUT US</a></li>
                <li><a href="/ourclasses">CLASS SCHEDULE</a></li>
                <li><a href="/contactus">CONTACT US</a></li>
            </ul>
        </div>
        <div>
            <img src="/assets/images/R.jpg" class="o">

        </div>
    </footer>