<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym WebSite</title>
</head>
<body class="l">
    <nav class="navbar">
        <!-- Logo -->
        <a href="#" class="navbar__logo">Logo</a>
        
        <!-- Navigation Links -->
        <ul class="navbar__links">
            <li><a href="" class="navbar__link">Home</a></li>
            <li><a href="/aboutus" class="navbar__link">About</a></li>
            <li><a href="/ourclasses" class="navbar__link">Classes</a></li>
            <li><a href="/contactus" class="navbar__link">Contact</a></li>
            <li>
                <!-- Join Us button -->
                 <a href="/members" class="join-us-btn">Join Us</a>

            </li>
        </ul>    
    </nav>


     
    <div class="contact-info">
        <h3>GET IN TOUCH</h3>
        <div class="contact-details">
          <div class="contact-item">
            <div class="card">
              <i class="fas fa-map-marker-alt"></i>
              <div class="details">
                <h4>Visit Us</h4>
                <p>123 Street, NABEUL, TUNISIA</p>
              </div>
            </div>
          </div>
          <div class="contact-item">
            <div class="card">
              <i class="far fa-envelope"></i>
              <div class="details">
                <h4>Email Us</h4>
                <a href="mailto:gymmail@gmail.com">gymmailgmail.com</a>
              </div>
            </div>
          </div>
          <div class="contact-item">
            <div class="card">
              <i class="fas fa-phone"></i>
              <div class="details">
                <h4>Call Us</h4>
                <p>+012 345 67890</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="j">
        <h3 class="q">VISIT US </h3>
        <img src="/assets/images/map.jpg" class="x">
      </div>
      
    
    <footer>
        <div class="footer-contact">
            <h3>GET IN TOUCH</h3>
            <p>123 Street, NABEUL, TUNISIA</p>
            <p>gymmail.com</p>
            <p>+012 345 67890</p>
        </div>
        <div class="footer-links">
            <h3>QUICK LINKS</h3>
            <ul>
                <li><a href="/aboutus">ABOUT US</a></li>
                <li><a href="/ourclasses">CLASS SCHEDULE</a></li>
                <li><a href="/contactus">CONTACT US</a></li>
            </ul>
        </div>
        <div>
            <img src="/assets/images/map.jpg" class="o">

        </div>
    </footer>


</body>
</html>

